.container {
    width: 100%;
    background-color: rgb(55, 55, 65);
    font-family: "Verdana";
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1rem;
    justify-content: space-between;
    border-top: 1px solid gray;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.headingRow, .contentRow {
    display: flex;
    justify-content: space-between;
}

.headingRow, .contentRow, .gptAnalysis {
    padding-left: 3rem;
    padding-right: 3rem;
    line-height: 2;
    width: calc(100% - 6rem);
}

.title {
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.content {
    color: rgb(179, 179, 179);
    max-width: 80%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.gptAnalysis {
    color: rgb(146, 182, 146);
}